<!-- event binding -->
<button class="btn btn-primary" (click)="toggleImage()">Image</button>
<!-- ##################### -->
<!-- two way binding -->
<div class="row">
  <div class="col-md-2">Filter by:</div>
  <div class="col-md-10">
    <!-- <input type="text" class="form-control" [value]="user"> -->
    <!-- <input type="text" class="form-control" [(ngModel)]="user"> -->
    <input type="text" class="form-control" [(ngModel)]="listFilter">
  </div>
<div class="col-md-12">
  <!-- <h3>Filter Value: {{user}} </h3> -->
  <h3>Filter Value: {{listFilter}} </h3>
</div>
</div>
<!-- ##################### -->
<div class="row">

  <!-- class binding -->
  <!-- <div class="col-sm-4 mb-3" *ngFor="let item of productsList" [class.text-danger]="item.price>10000" [class.bg-warning]="item.price>20000"> -->

  <!-- style binding -->
  <!-- style => ternary operator -->
  <!-- <div class="col-sm-4 mb-3" *ngFor="let item of productsList" [style.color]="(item.price>10000)?'red':'blue'" [style.background-color]="(item.price>10000)&&'lightgray'"> -->
  <!-- <div class="col-sm-4 mb-3" *ngFor="let item of productsList" [style.color]="(item.price>10000)?'red':'blue'" [style.background-color]="(item.price>10000)?'lightgray':'white'"> -->
  <!-- <div class="col-sm-4 mb-3" *ngFor="let item of productsList"> -->
    <div class="col-sm-4 mb-3" *ngFor="let item of filteredProducts">
    <img [src]="item.PrdImgURL" class="img-fluid" *ngIf="showImage">

    <h4>{{item.name}}</h4>
    <h5>{{item.price}}</h5>
    <button class="btn btn-danger" [disabled]="item.quantity==0">Add To Cart<i
        class="fa-sharp fa-solid fa-cart-plus modifyIcon"></i></button>
    <!-- <button class="btn btn-danger" [disabled]="!item.quantity">Add To Cart<i class="fa-sharp fa-solid fa-cart-plus modifyIcon"></i></button> -->
  </div>
</div>
